* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;/*Altura total da viewport*/
  overflow: hidden;/*Pode ocultar conteúdos que ultrapassem a altura*/
}

/*Wrapper da imagem de fundo*/
div.img-wrapper {
  width: 100%;
  height: 100vh;/*O wrapper ocupa a altura total da tela*/
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;/*Mantém o conteúdo sobreposto à imagem*/
}

div.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;/*A imagem cobre todo o espaço sem distorções*/
  opacity: 0.5;
  animation: zoom 15s infinite;/*Animação de zoom*/
  position: absolute;/*A imagem está posicionada de forma absoluta*/
  z-index: 1;/*Camada abaixo dos elementos com z-index maior*/
}

/*Animação de zoom na imagem*/
@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*Container principal*/
main.container{
  position: relative;
  width: 50%;
  top: 50%;/*Empurra o container para o meio verticalmente*/
  left: 50%;/*Empurrra o container para o meio horizontalmente*/
  transform: translate(-50%,-50%);/*Corrige o posicionamento para o centro exato*/
  border: 3px solid;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.8);
  border-color: #94716b;
  background: rgba(183, 152, 145, 0.65);
  z-index: 2;/*Coloca o conteúdo acima da imagem de fundo*/
}

main.container form, div.content {
  display: flex;
  flex-direction: column;
  align-items: center;/*Centraliza os elementos dentro do container*/
  padding: 0 2rem 2rem 2rem;
}

main.container h1{
  color: #eee;
  text-transform: uppercase;
  margin: 1em 1em 1.6em 1em;
  text-align: center;
  font-size: 2em;
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.3);
}

main.container p{
  color: #eee;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

label.field-label {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*Estilos gerais para inputs e button*/
input.field {
  border: none;
  padding: 10px;
  box-shadow: 0 0 1em #94716b;
  background: #ba978f;
  width: 12em;
  font-size: 1em;
  height: 2rem;
  border-radius: 5px;
  margin: 1rem 0;
  cursor: pointer;
  text-align: center;
}

input.field:focus {
  background: #ffffff6c;
}

input.field-submit, button{
  border: none;
  color: #eee;
  background: #b79891;
  background: linear-gradient(to right, #94716b, #b79891);
  width: 7em;
  height: 3em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}


input.field-submit:hover, button:hover{
  color: black;
  box-shadow: 0 1px 15px 7px #eee;
}


















